.chip-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: fit-content;
}
